@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f7fb;
}

.container {
  padding: 2rem 7rem;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container.start .result__user {
  animation: userShake 0.6s ease infinite;
}
.container.start .result__cpu {
  animation: cpuShake 0.6s ease infinite;
}

@keyframes userShake {
  50% {
    transform: translateY(10px) rotate(10deg);
  }
}
@keyframes cpuShake {
  50% {
    transform: translateY(10px) rotate(-10deg);
  }
}
.result__images {
  display: flex;
  -moz-column-gap: 7rem;
       column-gap: 7rem;
}
.result__images img {
  width: 100px;
}
.result__user img {
  transform: rotate(90deg);
}
.result__cpu img {
  transform: rotate(-90deg) rotateY(180deg);
}
.result__text {
  text-align: center;
  font-size: 2rem;
  color: #7d2ae8;
  margin-top: 1.5rem;
}

.option__images {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  justify-content: space-between;
}
.option__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.4s ease;
}
.option__image img {
  width: 50px;
  pointer-events: none;
}
.option__image p {
  color: #7d2ae8;
  font-size: 1.2rem;
  margin-top: 1rem;
  pointer-events: none;
}
.option__image:hover {
  opacity: 1;
}
.option__image.active {
  opacity: 1;
}